127.0.0.1   {{ hostname }}
::1         {{ hostname }}
{{ ip_master }}   {{ hostname1 }} rabbit@{{ hostname1 }}
{{ ip_slave1 }}   {{ hostname2 }} rabbit@{{ hostname2 }}
{{ ip_slave2 }}   {{ hostname3 }} rabbit@{{ hostname3 }}
